#masthead2 { 
	width: 20%;
	height: 100%; 
	position: absolute; 
	top: 0; 
	right: 0;
	bottom: 0; 
	overflow: auto;
	font-family: "Lato", sans-serif;
	text-align: center;
	background-color: #212121;
	/*margin-left: 10px;*/
	z-index: 9999;
	position: fixed;
}

#page-2 {
	z-index: 1 !important;
}

.widgettitle #member-activity {
color: #f9d236;
}

.widgettitle #member-activity-container {
}

.content-wrapper #main-content-area {
	max-width: 500px;
}

.single-attachment #masthead2 { 
	margin-bottom: 0; 
}

.demo-site #masthead2 { 
	top: 100px;
}

@media screen and (max-width: 780px) {
	#masthead2 { 
		font-size: 1.2em;
	}
}

#masthead2 .split-left, #masthead2 .split-right { 
	padding-top: 83px;
}

#masthead2 h1 {
	color: #f9d236;
}

#masthead2 table {
	width: 200px;
	text-align: left;
}

#masthead2 th {
	color: #f9d236;
	font-size: 10px;
	text-align: left;
}

#masthead2 td {
		color: rgba(255, 255, 255, 0.9);
		font-size: 10px;
}

#masthead2 a {
	color: #f9d236;
	text-decoration: underline;
}

.post-header {
	display: none;
}

@media screen and (max-width: 780px) { #masthead2 .split-left, #masthead2 .split-right { padding-top: 53px; } }
@media screen and (max-width: 780px) { .menu-open #masthead2 .split-left { display: block; } }
@media screen and (min-width: 780px) { #masthead2 .split-left { -moz-transition: 250ms all ease-in-out; -o-transition: 250ms all ease-in-out; -webkit-transition: 250ms all ease-in-out; transition: 250ms all ease-in-out; margin-left: -50%; }
  .menu-open #masthead2 .split-left { margin-left: 0; } }
#masthead2 h1 { margin-top: 20px; font-size: 1em; }
#masthead2 h1 a { color: #f9d236; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 5px 8px; display: inline-block; }
#masthead2 h1 a:hover { background-color: #f9d236; color: #222222; }
#masthead2 .desc { font-size: .85em; margin: 0 40px; color: #eeeeee; color: rgba(255, 255, 255, 0.6); }
#masthead2 #author-avatar { border-radius: 50% 50%; width: 120px; margin: 0 auto; overflow: hidden; }
#masthead2 #author-avatar img { display: block; }
#masthead2 .select-wrap, #masthead2 input[type="search"] { background-color: white; }
#masthead2 .select-wrap select { background-color: white; color: #212121; }
#masthead2 .select-arrow { border-top-color: #212121; }


#masthead2-sidebar { color: white; color: rgba(255, 255, 255, 0.9); font-size: 78.5%; height: 100%; }
@media screen and (max-width: 780px) { #masthead2-sidebar { font-size: 100%; } }
#masthead2-sidebar .widgets { overflow-y: scroll; overflow-x: auto; height: 100%; position: relative; }
#masthead2-sidebar a { color: #f9d236; }
#masthead2-sidebar a:hover { color: #dcb107; }
#masthead2-sidebar .widget { margin-bottom: 2em; }
#masthead2-sidebar .widget li li:before { background-color: #aaaaaa; background-color: rgba(255, 255, 255, 0.1); }
#masthead2-sidebar .widget li li:after { background-color: #aaaaaa; background-color: rgba(255, 255, 255, 0.1); }
#masthead2-sidebar .widgettitle { color: #eeeeee; color: rgba(255, 255, 255, 0.6); }
#masthead2-sidebar .widget_pages a, #masthead2-sidebar .widget_nav_menu a { display: block; }
#masthead2-sidebar .widget_pages a:hover, #masthead2-sidebar .widget_nav_menu a:hover { color: #222222; background-color: #f9d236; padding-left: 1em; }