/*
 Theme Name:   Worldview Child Theme
 Template:     worldview
 Version:      1.0.0
*/

@import url("../worldview/style.css");

widget.widget_pages {
	display: none !important;
	visibility: hidden;
}

article.post .split-view, article.page .split-view { padding-top: 0px; margin-top: -20px;}

#image-post-wrapper {
	padding-left: 40px;
}

div#comments.comments-area {
	margin-left: 0px;
}